<link rel="icon" type="image/png" sizes="96x96" href="{{ '/favicon-96x96.png' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="InitVenv">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.dev2forge.software/initvenv/" />
<meta property="og:title" content="Dev2Forge | Init Venv - Pypi | A Virtual Environment Initialization Tool" />
<meta property="og:description" content="Cross-language CLI tool written in C# to initialize Python virtual environments instantly with one command: 'initvenv'. Open Source - GPL-3.0" />
<meta property="og:image" content="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@807d5c8545325c1a8b8334479477e1256a872956/dev2forge/InitVenv/initvenv-preview2.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.dev2forge.software/initvenv/" />
<meta property="twitter:title" content="Dev2Forge | Init Venv - Pypi | A Virtual Environment Initialization Tool" />
<meta property="twitter:description" content="Cross-language CLI tool written in C# to initialize Python virtual environments instantly with one command: 'initvenv'. Open Source - GPL-3.0" />
<meta property="twitter:image" content="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@807d5c8545325c1a8b8334479477e1256a872956/dev2forge/InitVenv/initvenv-preview2.png" />

<script src="https://giscus.app/client.js"
        data-repo="dev2forge/initvenv"
        data-repo-id="R_kgDOPg30iQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOPg30ic4CxMfN"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
