{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link
  rel="shortcut icon"
  href="{{ site.FAVICON | relative_url }}"
  type="image/x-icon">

<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.dev2forge.software/initvenv/" />
<meta property="og:title" content="Dev2Forge | Init Venv - Pypi | A Virtual Environment Initialization Tool" />
<meta property="og:description" content="Cross-language CLI tool written in C# to initialize Python virtual environments instantly with one command: 'initvenv'. Open Source - GPL-3.0" />
<meta property="og:image" content="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@db610fff56de446492611132cc5dc85b3cade010/dev2forge/InitVenv/initvenv-tag-preview.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.dev2forge.software/initvenv/" />
<meta property="twitter:title" content="Dev2Forge | Init Venv - Pypi | A Virtual Environment Initialization Tool" />
<meta property="twitter:description" content="Cross-language CLI tool written in C# to initialize Python virtual environments instantly with one command: 'initvenv'. Open Source - GPL-3.0" />
<meta property="twitter:image" content="https://cdn.jsdelivr.net/gh/tutosrive/images-projects-srm-trg@db610fff56de446492611132cc5dc85b3cade010/dev2forge/InitVenv/initvenv-tag-preview.png" />