@import url("style.css");
@import url("404.css");

.itch-download-btn {
    color: #0074ad;
    background-color: #fae45b;
    font-size: 21px;
    border: 2px solid #00b3ff;
    padding: 15px 50px;
    cursor: pointer
}

.itch-download-btn:hover {
    color: #ffffff;
    background-color: #00ccff;
}

.so-small {
    font-size: 12px;
}

.text-info {
    color: #17a2b8;
}

h1 {
    text-align: center;
}

.align-center {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.badges-article {
    gap: 10px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}